<nav class="nav justify-content-end bg-warning">
	<!-- check to see if youre logged in or not and display the according links -->
	<%if (currentUser) { %>
		<a href="/logout" class="nav-item nav-link">Logout</a>
		<a href="/profile" class="nav-item nav-link">Profile</a>
	<%} else {%>
	<a href="/login" class="nav-item nav-link">Login / Sign Up</a>
	<%}%>
</nav>