<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HankerTown App</title>
	<link rel="stylesheet" href="/styles/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/scripts/app.js"></script>
</head>
<body>
	<div class="main"><img src="load.gif"></div>
</body>
</html>