<% include partials/header %>
<% include partials/nav%>
<h2 class="bg-light">Nearby Restaurants </h2>
<div class="container-fluid">
	<div class="row justify-content-md-center">
		<%for (let i = 0; i < restaurants.length; i++){%>
			<div class="card bg-light col-md-5">
				<div class="card-body">
					<h4 class="card-title"><%=restaurants[i].name%></h4>
					<h6 class="card-subtitle text-muted mb-2"><%=restaurants[i].display_phone%> <br> <%=restaurants[i].location.display_address%></h6>
					<p class="card-text"><%-restaurants[i].categories[0].title%></p><br>
					<a href="#" class="card-link align-self-end" disabled>Menu</a>
					<a href="#" class="card-link align-self-end" disabled>Map</a>
				</div>
			</div>
		<%}%>
	</div>
</div>
<% include partials/footer %>