<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HankerTown App</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" href="/styles/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<h2>Nearby Restaurants</h2>
	<div class="container">
	<ul>
		<%for (let i = 0; i < restaurants.length; i++){%>
		<li><%=restaurants[i].name%> <br><%=restaurants[i].location.address1%></li>
		<%}%>
	</ul>
</div>
</body>
</html>




