* {
	text-align: center;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
html{
	background-color: #141414;
}
.container {
	min-width: 500px;
	max-width: 900px;
	margin: 0 auto;
	background-color: grey;
	
}
ul {
	padding: 20px;
	margin: 0 auto;
	min-width: 500px;
	text-align: center;
	list-style-type: none;
}

li {
	background-color: lightgrey;
	padding-top: 20px;
	height: 100px;
	min-width: 300px;
	margin: 10px auto;
	border-radius: 10px;
	justify-content: flex-start;
}

h3 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

div {
	margin: 0;
	padding: 0;
}

a{
	color: white;
}

p {
	display: inline-block;
}
.card {
	margin: 10px;
}

.container {
	padding-top: 20px;
}

#login {
	height: 75vh;
}
