* {
	text-align: center;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
html{
	background-color: #141414;
}
.container {
	min-width: 500px;
	max-width: 900px;
	margin: 0 auto;
	background-color: grey;
	
}
ul {
	padding: 20px;
	margin: 0 auto;
	min-width: 500px;
	text-align: center;
	list-style-type: none;
}

li {
	background-color: lightgrey;
	padding-top: 20px;
	height: 100px;
	min-width: 300px;
	margin: 10px auto;
	border-radius: 10px;
	justify-content: flex-start;
}

h3 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

div {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.main {
	background-color: #141414;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
}

img {
	padding-top: 10%;
	margin: 0 auto;
}

a{
	color: white;
}

p {
	display: inline-block;
}

h2 {
	background-color: orange;
} 

.card {
	margin: 10px;
}

.container {
	padding-top: 20px;
}